<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.minjoo.demo.replyMapper">
 
 <insert id="insert">
 	INSERT INTO reply(rno,bno,reply,replyer)
 	VALUES(nextval('seq_reply'),#{bno},#{reply},#{replyer})
 </insert>
 <select id="read" resultType="com.minjoo.demo.domain.ReplyVo">
 	select * from reply where bno =#{bno}
 </select>
 <delete id="delete">
	 delete from reply
	 where rno = #{rno}
 </delete>
 <update id="update">
 	update reply
 	set reply = #{reply}, updatedate = now()
 	where rno =#{rno}
 </update>
 <select id="getListWithPaging" resultType="com.minjoo.demo.domain.ReplyVo">
 	select rno,bno,reply,replyer,replyDate,updateDate
 	from reply
 	where bno =#{bno}
 	order by rno 
 </select>
 
 </mapper>